Repository Stringsaeed/BrimApp: changes, and which lefthook commands are due for each by the changed paths.
All: linter, format, typecheck

linter:
  run: bun lint

format:
  run: bun prettier --write {staged_files}

typecheck:
  run: bun tsc-files --noEmit {staged_files}

chore: update lefthook pre-commit tests configuration
  lefthook.yml
Due: none

chore: add MIT license to project
  LICENSE
  README.md
  package.json
Due: format

docs(app): update development guide and configuration files
  .windsurfrules
  app.config.ts
  bun.lock
  lefthook.yml
  metro.config.js
  package.json
  src/app/_layout.tsx
  src/components/note-toolbox/index.tsx
  src/components/voice-recording-button/index.tsx
  src/components/voice-recording-button/reanimated-icon-waveform.tsx
  src/components/voice-recording-button/skia-icon-waveform.tsx
  src/hooks/use-user-theme/index.ts
  src/screens/Notes/Note/NoteScreen.tsx
  src/services/index.ts
  src/services/voice-transcription/index.ts
Due: linter, format, typecheck

feat: add immersive overlay component and integrate into DashboardScreen
  src/app/_layout.tsx
  src/components/immersive-overlay/CREDITS.md
  src/components/immersive-overlay/components/gradient/constants.ts
  src/components/immersive-overlay/components/gradient/index.tsx
  src/components/immersive-overlay/components/overlay.tsx
  src/components/immersive-overlay/index.tsx
  src/components/immersive-overlay/store.ts
  src/components/immersive-overlay/utils.ts
  src/screens/Dashboard/DashboardScreen.tsx
Due: linter, format, typecheck

chore: update dependencies and configuration files
  .cursor/mcp.json
  .eslintignore
  .vscode/settings.json
  .yarn/patches/html-entities-npm-2.5.3-d55fdf6192.patch
  WARP.md
  jest-setup.js
  jest.config.js
  lefthook.yml
  package.json
  patches/html-entities@2.5.2.patch
  src/app/_layout.tsx
  src/components/account-info-container/__tests__/__snapshots__/account-info-container.test.tsx.snap
  src/components/animated-keyboard-view/__tests__/__snapshots__/animated-keyboard-view.test.tsx.snap
  src/components/animated-keyboard-view/__tests__/animated-keyboard-view.test.tsx
  src/components/auth-layout/__tests__/__snapshots__/auth-layout.test.tsx.snap
  src/components/composer/index.tsx
  src/components/composer/types.ts
  src/components/note-title-input/index.tsx
  src/components/note-toolbox/index.tsx
  src/components/notes-list/list-empty-view/index.tsx
  src/components/notes-list/note-list-item/index.tsx
  src/components/tiptap-input/dom.tsx
  src/components/tiptap-input/index.css
  src/components/tiptap-input/index.tsx
  src/components/tiptap-input/types.ts
  src/components/tiptap-input/use-input-editor-setup/css.ts
  src/components/tiptap-input/use-input-editor-setup/index.ts
  src/components/voice-recording-button/index.tsx
  src/hooks/use-fix-grammar-mutation/index.tsx
  src/hooks/use-note-form/index.ts
  src/screens/Authentication/Verify/VerifyScreen.tsx
  src/screens/Notes/Note/NoteScreen.tsx
  src/screens/User/Profile/ProfileScreen.tsx
  src/services/notes/notes.ts
  src/services/vexo/index.ts
  src/utils/noteTitle.ts
  src/utils/safe-call.ts
  yarn.lock
Due: linter, format, typecheck

refactor: code structure for improved readability and maintainability
  .cursor/mcp.json
  .kiro/specs/enriched-toolbar-integration/design.md
  .kiro/specs/enriched-toolbar-integration/requirements.md
  .kiro/specs/enriched-toolbar-integration/tasks.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  .vscode/extensions.json
  .vscode/mcp.json
  .vscode/settings.json
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  AGENTS.md
  package.json
  src/components/bottom-sheet-input/index.tsx
  src/components/dashboard-header/right.tsx
  src/components/select-accent-list-item/index.tsx
  src/components/update-account-sheet/index.tsx
  src/contexts/country-picker/index.tsx
  src/contexts/pull-to-action/index.tsx
  src/hooks/index.ts
  src/hooks/use-toolbar-config/index.ts
  src/services/index.ts
  src/services/toolbar/index.ts
  src/services/toolbar/toolbar-config.ts
  src/types/index.ts
  src/types/toolbar.ts
  yarn.lock
Due: linter, format, typecheck

chore: upgrade expo sdk 55
  app.config.ts
  package.json
  src/components/country-list-picker/index.tsx
  src/hooks/use-throttle/index.ts
  src/hooks/use-user-theme/index.ts
  yarn.lock
Due: linter, format, typecheck

chore: upgrade tamagui to 1.144.4
  package.json
  src/components/screen-container/index.tsx
  yarn.lock
Due: linter, format, typecheck

chore: upgrade knip
  package.json
  yarn.lock
Due: format

chore: remove obsolete configuration and documentation files
  .cursor/mcp.json
  .cursorrules
  .kiro/specs/enriched-toolbar-integration/design.md
  .kiro/specs/enriched-toolbar-integration/requirements.md
  .kiro/specs/enriched-toolbar-integration/tasks.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  .vscode/settings.json
  .windsurfrules
  CLAUDE.md
  WARP.md
  package.json
Due: format

chore: migrate from yarn to pnpm
  .github/workflows/update.yml
  .gitignore
  .mcp.json
  .vscode/mcp.json
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
  AGENTS.md
  README.md
  app.config.ts
  biome.json
  knip.json
  lefthook.yml
  metro.config.js
  opencode.json
  package.json
  patches/html-entities@2.5.3.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/services/sentry/index.ts
  src/services/storage/index.ts
  yarn.lock
Due: linter, format, typecheck

chore: update project configuration and add mock implementations for testing
  .mcp.json
  .vscode/mcp.json
  __mocks__/react-native-executorch.ts
  __mocks__/react-native-nitro-modules.js
  biome.json
  jest-setup.js
  jest.config.js
  knip.json
  opencode.json
  package.json
  pnpm-lock.yaml
  src/app/_layout.tsx
  src/components/account-info-container/__tests__/__snapshots__/account-info-container.test.tsx.snap
  src/components/animated-keyboard-view/__tests__/__snapshots__/animated-keyboard-view.test.tsx.snap
  src/components/animated-keyboard-view/__tests__/animated-keyboard-view.test.tsx
  src/components/auth-layout/__tests__/__snapshots__/auth-layout.test.tsx.snap
  src/components/auth-layout/__tests__/__snapshots__/auth-layout.web.test.tsx.snap
  src/components/blur-view/__tests__/__snapshots__/blur.test.tsx.snap
  src/components/bottom-sheet/__tests__/__snapshots__/index.test.tsx.snap
  src/components/bottom-sheet/__tests__/index.test.tsx
  src/components/bottom-sheet/index.tsx
  src/components/note-title-input/__tests__/__snapshots__/note-title-input.test.tsx.snap
  tsconfig.json
Due: linter, format, typecheck

chore: update knip configuration, remove unused files, and clean up validation logic
  knip.json
  package.json
  pnpm-lock.yaml
  src/components/composer/utilts.tsx
  src/components/voice-recording-button/skia-icon-waveform.tsx
  src/hooks/use-get-initial-locale/index.ts
  src/utils/index.ts
  src/utils/validation.ts
Due: linter, format, typecheck

chore: add launch configuration for Radon IDE and update flagsmith integration
  .vscode/launch.json
  package.json
  pnpm-lock.yaml
  src/services/flagsmith/index.tsx
Due: linter, format, typecheck

feat(notes): add editor tools and dictation
  app.config.ts
  assets/fonts/Nunito-Italic-VariableFont_wght.ttf
  assets/fonts/Nunito-VariableFont_wght.ttf
  knip.json
  package.json
  pnpm-lock.yaml
  src/components/composer-toolbox.tsx
  src/components/composer/index.tsx
  src/components/composer/types.ts
  src/components/dashboard-header/index.tsx
  src/components/note-header-right/index.tsx
  src/components/notes-list/note-list-item/index.tsx
  src/components/notes-list/note-list-multiselect-menu/index.tsx
  src/components/voice-recording-button/index.tsx
  src/hooks/use-fix-grammar-mutation/index.tsx
  src/hooks/use-load-assets/index.ts
  src/screens/Notes/Note/NoteScreen.tsx
  src/services/sentry/index.ts
Due: linter, format, typecheck

fix(types): repair strict validation
  jest-setup.js
  src/components/composer-toolbox.tsx
  src/i18n/index.ts
  src/services/database/index.ts
Due: linter, format, typecheck

Path conditions:
  linter: any of: *.{js,jsx,ts,tsx}
  format: any of: *.{js,jsx,ts,tsx,json,md,css,scss}
  typecheck: any of: *.{ts,tsx}
